[2019-11-14 11:18] tomkerkhove opened #3 "Provide a Security Policy"
Provide a Security Policy that helps customers and researchers to report security vulnerabilities.

We should provide:
- Introduce a [Security Policy](https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository)
- Issue template to report vulnerabilities

[2020-01-27 11:27] tomkerkhove opened #5 "Provide governance for built-in & add-on scalers"
Last week we've added the **[Azure Durable Functions Scaler](https://github.com/kedacore/keda-scaler-durable-functions)** to our org which is not shipped as part of KEDA core runtime but more of an add-on scaler.

Personally I'm a fan of this model given our core would become too big and not everybody needs this scaler.

We should define some governance around this and answer questions such as:
-

[2020-03-11 00:52] caniszczyk opened #8 "Get a passing CII Badge"
We require CNCF projects to go through this badging process:
https://bestpractices.coreinfrastructure.org/en

[2020-03-11 00:53] caniszczyk opened #4 "Add SECURITY.md (security disclosure process)"
For examples, see https://github.com/envoyproxy/envoy/blob/master/SECURITY.md etc

[2020-04-14 15:11] tomkerkhove opened #7 "Move standup recordings to CNCF YouTube account"
Now that we are part of CNCF we should publish our standups to their YouTube account similar to other projects.

https://www.youtube.com/channel/UCvqbFHwN-nwalWPjPUKpvTA

[2020-08-25 09:06] tomkerkhove opened #52 "Setup container scanning for published images"
Setup container scanning for published images in Docker Hub with Snyk.

- [x] Setup Snyk
- [x] kedacore/keda#2325
- [x] Update security policy

[2020-09-11 13:44] tomkerkhove opened #2 "Propose to graduate to become a CNCF Incubation project"
We've seen a healthy adoption of KEDA by the community over time and received various contributions for running KEDA, operating it, and providing more scalers.

In the next couple of weeks, we will open a proposal to graduate to a CNCF Incubation project as we believe that we are approaching this next level in our project timeline.

Graduation process: https://github.com/cncf/toc/blob/master/proce

[2020-11-25 13:32] #4 closed, assigned to tomkerkhove

[2020-12-18 10:18] #3 closed

[2021-01-08 10:07] CarloGarcia opened #10 "Permissions for using the KEDA logo"
What are the rules (or permissions required) in order to use the KEDA logo? For example to print on t-shirts, stickers or mugs and potentially selling said items with the KEDA logo on them? Where could explicit permission be obtained from?

[2021-01-08 10:30] tomkerkhove commented on #10
I'll need to ping @caniszczyk because this is more related to CNCF.

What would be the goal of selling these?

[2021-01-08 16:26] zroubalik commented on #10
+1

btw there's KEDA Swag Store: https://merch.keda.sh/

[2021-01-12 10:03] CarloGarcia commented on #10
I know an artist (ceramicist) who makes handmade bespoke cups on request (for example see https://twitter.com/B1zTalker/status/1344948203326734337?s=20). If someone orders a cup with a KEDA logo on it, does the artist (or anyone) need permission first before they can make and/or sell the cup?

Many thanks for the link to the swag store. Will check it out.

[2021-01-13 10:27] tomkerkhove opened #11 "Request keda-dev channel in Kubernetes Slack"
Request keda-dev channel in Kubernetes Slack so people contributing can talk to each other and our current keda is mainly focussed on other chatter.

[2021-01-13 15:29] tomkerkhove commented on #10
All CNCF projects are bound by: https://www.linuxfoundation.org/trademark-usage/.

[2021-01-14 15:07] tomkerkhove commented on #10
I checked with CNCF and we can vote on this as maintainers - What do you think @zroubalik @jeffhollan @ahmelsayed @anirudhgarg?

👍 or 👎

[2021-01-14 15:18] zroubalik commented on #10
How many cups do I receive for a vote up? 😄 (just kidding)

[2021-01-14 15:24] zroubalik commented on #10
@tomkerkhove out of curiosity, how does this voting goes along with the trademark-usage that you linked here above? To be clear, I don't have a problem with the original request, but I don't see how does this fit with this paragraph:

[2021-01-14 15:30] tomkerkhove commented on #10
I checked with @caniszczyk offline, but maybe he can elaborate here?

[2021-01-18 18:30] caniszczyk commented on #10
@zroubalik as long as the cups are made for personal usage and for the maintainers/friends, we are OK with that. CNCF is even happy to cover the cost for cups for the maintainers of KEDA if that helps.

[2021-01-18 21:24] zroubalik commented on #10
@caniszczyk thanks for the clarification, I just wasn't sure, since the original request talked about potential selling of the stuff.

I am not against the idea, I am completely fine with folks making a KEDA swag, just wanted to double check 😉

[2021-01-18 21:47] jeffhollan commented on #10
Yep I'm cool with people using logo for swag they aren't re-selling

[2021-01-20 06:57] tomkerkhove opened #12 "Provide self-hosted ARM runner"
ARM is becoming a major aspect for workloads such as edge and we've received requests to provide an ARM-based image (https://github.com/kedacore/keda/issues/779).

GitHub Actions does not provide an ARM runner, but CNCF allows us to request a bare metal machine ([link](https://github.com/cncf/cluster)) on which we could run a [self-hosted runner](https://docs.github.com/en/actions/hosting-your-own

[2021-01-20 08:32] zroubalik commented on #12
This is looking good, I think that we follow all the requirements, so there shouldn't be a problem.

[2021-02-02 20:14] jeffhollan commented on #12
Issued request here https://github.com/cncf/cluster/issues/163

[2021-02-10 12:52] tomkerkhove opened #13 "Annual CNCF Review Requested"
The TOC has requested your annual review. This review has a deadline of two months of this notification, April 9, but we do have a review session coming up on March 9th if you'd like to complete this now.

How to complete your annual review:

- We’ll be looking for a PR titled: KEDA-2021-Annual Review
- The PR should include a file called 2021-<KEDA>-annual.md
- Send an email to the [TOC mailing l

[2021-02-12 12:44] tomkerkhove opened #14 "Tracking integrations with other technologies"
I've recently opened a few issues for integration with other technologies:

**Azure Service Operator**: https://github.com/Azure/azure-service-operator/issues/1377
**Crossplane**:
- ALibaba Cloud: https://github.com/crossplane/provider-alibaba/issues/57
- Rook: https://github.com/crossplane/provider-rook/issues/94
- GCP: https://github.com/crossplane/provider-gcp/issues/304
- AWS: https://github.c

[2021-02-12 12:45] tomkerkhove commented on #14
WDYT @zroubalik @jeffhollan @anirudhgarg @ahmelsayed ?

[2021-02-12 21:11] ahmelsayed commented on #14
I'm not very familiar with crossplane, but I'm assuming it's a way to standardize operators across clouds for those cloud's services, but just managed through Kubernetes, right? Based on the issues you have above though, they don't yet support the /scale subresource, right?

[2021-02-12 21:16] tomkerkhove commented on #14
Yes indeed, but Crossplane is just an example of one integration - But it's just an idea though.

[2021-02-15 15:04] #11 closed

[2021-02-15 15:04] tomkerkhove commented on #10
Can we close this issue @CarloGarcia ?

[2021-02-16 06:29] #7 closed

[2021-02-16 06:31] tomkerkhove opened #15 "Publish Alibaba reference case"
Publish Alibaba reference case on how and why they use KEDA.

[2021-02-16 06:53] tomkerkhove commented on #14
This could also be part of keda.sh, which might be a better place under /integrations or so.

[2021-02-17 13:02] tomkerkhove opened #16 "Migrating our containers to GitHub Container Registry"
We've discussed it in the past (see https://github.com/kedacore/keda/issues/995) but I think it's time to migrate our Docker images to GitHub Container Registry which brings our artifacts closer to our GitHub repos and gives us more insights on the adoption (# of pulls per tag, instead of vague total pull count).

We are dry-running this for our HTTP add-on and it's fairly straightforward.

Here i

[2021-02-17 13:02] tomkerkhove commented on #16
Thoughts @kedacore/keda-maintainers?

[2021-02-17 13:02] tomkerkhove commented on #16
Happy to pick this up.

[2021-02-17 13:03] tomkerkhove commented on #13
Dropping not to add in our review:
![image](https://user-images.githubusercontent.com/4345663/108208162-f51ed080-7128-11eb-8bbe-d05a8bc35b5e.png)

[2021-02-19 07:10] tomkerkhove commented on #13
![Picture1](https://user-images.githubusercontent.com/4345663/108470176-d257fd80-7289-11eb-9f11-eeb45cd98e3f.png)

[2021-02-19 07:37] tomkerkhove commented on #13
![Picture2](https://user-images.githubusercontent.com/4345663/108472973-b5252e00-728d-11eb-8d06-3d7ae07e3b77.png)

[2021-02-19 07:54] tomkerkhove commented on #13
@kedacore/keda-maintainers Review is open!

[2021-02-19 13:18] tomkerkhove commented on #13
![EukwAwQXUAMebyQ](https://user-images.githubusercontent.com/4345663/108509240-4790f600-72bd-11eb-9322-58c72f066b17.jpg)

[2021-03-01 11:25] zroubalik commented on #16
Sounds good!

[2021-03-01 12:12] tomkerkhove commented on #16
Thoughts on this @jeffhollan @anirudhgarg @ahmelsayed?

[2021-03-03 06:43] tomkerkhove commented on #16
Yesterday we've agreed that this is the way forward, but we'll publish them in both Docker Hub & GitHub Container Registry until GHCR is out of preview.

We will:
- [ ] Automatically push Docker images to GitHub Container Registry ([#1650](https://github.com/kedacore/keda/issues/1650))
- [ ] Re-tag and push our existing images in Docker Hub to GitHub Container Registry (GHCR) ([#1651](https://gith

[2021-03-03 06:56] tomkerkhove commented on #16
I'd propose to write a small blog post with this as well, next to the GitHub Discussion, what do you think?

[2021-03-03 21:20] tomkerkhove commented on #14
We've agreed to add this to keda.sh, tracking in https://github.com/kedacore/keda-docs/issues/387

[2021-03-03 21:20] #14 closed

[2021-03-09 22:01] anirudhgarg opened #17 "Request to step down from the role of Maintainer of KEDA org"
Opening this issue to request to step down from the role of a Maintainer from KEDA org. This is to reduce the number of maintainers from Microsoft (Currently they are 3 including me) and also not being able to give enough time.

[2021-03-10 07:15] tomkerkhove commented on #17
I'm sorry to hear that but respect your decision, you will be missed!

[2021-03-10 09:26] zroubalik commented on #17
Sorry to hear that! Thanks a lot and good luck Anirudh

[2021-03-10 18:38] tomkerkhove commented on #13
Done!

[2021-03-10 18:38] #13 closed

[2021-03-15 07:07] tomkerkhove commented on #15
Sent to CNCF for review

[2021-03-19 12:58] redyamsirisha opened #19 "how we can trigger a single workflow after all other workflows are completed in github actions?"

[2021-03-19 14:26] tomkerkhove commented on #19
I'm not sure what your question is, can you elaborate on it please?

[2021-03-25 09:27] tomkerkhove commented on #2
Our proposal has been opened with CNCF TOC

[2021-03-25 14:38] tomkerkhove commented on #19
Closing due to inactivity.

[2021-03-25 14:38] #19 closed

[2021-03-26 09:50] tomkerkhove commented on #16
Blog post is published on https://keda.sh/blog/migrating-to-github-container-registry/ and discussion is open on https://github.com/kedacore/keda/discussions/1700

[2021-04-08 08:52] tomkerkhove commented on #2
Security policy is available on https://github.com/kedacore/keda/blob/main/SECURITY.md

[2021-04-09 18:01] tomkerkhove opened #20 "Setup Azure DevOps organization"
Setup Azure DevOps organization for automated tests of our scaler

[2021-04-09 18:03] tomkerkhove commented on #20
Invited @ahmelsayed @jeffhollan @zroubalik to avoid the bus-effort

[2021-04-09 18:03] tomkerkhove commented on #20
It's up on https://dev.azure.com/kubernetes-event-driven-autoscaling/Kubernetes%20Event-driven%20Autoscaling%20(KEDA)

[2021-04-09 18:03] #20 closed

[2021-04-12 09:49] tomkerkhove commented on #15
Published on our blog & CNCF: https://www.cncf.io/blog/2021/03/30/why-alibaba-cloud-uses-keda-for-application-autoscaling/

[2021-04-12 09:49] #15 closed

[2021-04-22 16:36] CarloGarcia commented on #10
Apologies for the delay - this issue can definitely be closed. It's clear for me.

Many thanks!

[2021-04-22 16:36] #10 closed

[2021-06-08 15:10] #17 closed, assigned to nobody

[2021-06-19 11:54] tomkerkhove opened #23 "Provide release plan governance"
Provide release plan governance that talks about when we ship, what our release cadence is, etc.

[2021-06-19 12:19] tomkerkhove commented on #23
Early thinking from my side:
- We should use GitHub Milestones better so that we add all issues/PRs that have been closed and will be included in the next release. As part of that, we can use the due date to show our intended release date
- We should always create a GitHub Discussion linked to our release so that people get notified and can join the discussion (release also gives notification but

[2021-06-20 18:41] tomkerkhove opened #24 "Define a release schedule"
As an end-user it is easier if we would have a release schedule and ship every X period. This would allow them to more easily plan upgrades which would help maintainers to focus on more recent versions.

This issue is here for us to discuss if that makes sense for KEDA and what our cycles would look like.

[2021-06-20 18:41] tomkerkhove commented on #24
How does every 2 months sound like?

[2021-06-21 07:06] zroubalik commented on #24
Can we say some every 2-3 months based on a demand and list of features?

[2021-06-21 09:03] tomkerkhove commented on #24
Sounds good to me, wdyt @jeffhollan @ahmelsayed?

[2021-06-21 11:08] tomkerkhove commented on #24
We should also define why we are using this cycle so end-users get our reasoning.

[2021-06-30 06:30] #23 closed

[2021-08-05 06:41] tomkerkhove commented on #12
Any update on this @jeffhollan ?

[2021-08-18 19:25] #2 closed

[2021-09-22 12:52] tomkerkhove opened #30 "Introduction of community ladder"
As KEDA grows, so does its community and we should consider introducing a community ladder to give credit to those who keep on contributing day-in, day-out (regardless of contribution type).

There are a few options we can consider:
- Formal Community Membership (similar to [Dapr's approach](https://github.com/dapr/community/blob/master/community-membership.md#community-membership))
- Introduce KE

[2021-09-22 12:53] tomkerkhove commented on #30
I'm personally a fan of the KEDA badges as it's an easy way to start recognizing hard work by the community without introducing too much of hierarchy.

[2021-09-22 12:54] tomkerkhove commented on #30
Any thoughts @zroubalik @jeffhollan @ahmelsayed?

[2021-09-29 05:49] JorTurFer commented on #12
Any update?
ARM is a reality in AWS with Graviton nodes. We are thinking in migrate our workloads to ARM because Graviton saves a lot of money for example.
Of course, having more than one nodepools we could have also AMD nodes, but it would be amazing if KEDA runs on ARM too

[2021-09-29 16:43] jeffhollan commented on #12
Yes we have the infra issued from CNCF, would need someone to wire up that infra with GitHub Actions runners and include in our e2e tests (as well as make any adjustments needed to make it work well)

[2021-09-29 17:07] tomkerkhove commented on #12
Feel free to send me the details and I can take a look!

[2021-09-29 23:16] JorTurFer commented on #12
Nice!!! Supporting ARM could be an incredible feature :)
Let me know if I can help in anything there

[2021-10-04 11:19] zroubalik commented on #30
I like a simple "formal" approach, having regular contributors in GitHub Group allows us to assing these users to issues etc. But I am open to badges as well :)

[2021-10-05 08:51] tomkerkhove opened #31 "Use dedicated Azure subscription"
Request Azure funds for open-source projects through new program:
https://cloudblogs.microsoft.com/opensource/2021/09/28/announcing-azure-credits-for-open-source-projects/

[2021-10-05 08:51] tomkerkhove commented on #31
Requested!

[2021-10-08 05:40] tomkerkhove opened #32 "Introduce "Contributors" group for frequent contributors"
Introduce "Contributors" group for frequent contributors so that we can assign the users/group to issues.

This should be documented in the repo when people are being considered to be added and what it means to become one.

[2021-10-08 05:40] tomkerkhove commented on #30
Created https://github.com/kedacore/governance/issues/32

[2021-10-12 15:34] tomkerkhove opened #33 "Provide bot for managing Issues"
### Proposal

Provide bot for managing issues so that we automatically close stale issues.

### Use-Case

Clean up old issues

### Anything else?

_No response_

[2021-10-15 07:44] tomkerkhove commented on #12
Self-hosted ARM64 runner for GitHub Actions is available.

[code]

I will add the SSH keys to 1Password later on.

[2021-10-15 11:33] JorTurFer commented on #12
But we will need a kubernetes cluster with ARM nodes in order to run e2e test there.
Maybe we can install a local cluster for that :thinking:

[2021-10-15 11:41] zroubalik commented on #12
That's right, @tomkerkhove do you know how many machines or how big they are? We can run a reduced e2e tests on that, just a smoke check that the build is correct.

[2021-11-05 06:24] tomkerkhove opened #36 "Provide automation to merge documentation PRs"
Provide automation to merge documentation PRs when the feature PR was merged so that we don't have to manually keep track of them.

Optionally this could be through slash commands.

[2021-11-09 08:39] tomkerkhove commented on #12
It's up and running.

[2021-11-09 08:39] #12 closed

[2021-11-10 11:33] JorTurFer opened #38 "Consideration for Jorge Turrado as maintainer"
Hi!
I'm lover of KEDA because I think that it covers an existing gap in Kubernetes autoscaling and open the doors to a lot of several event-driven scenarios from nowadays.
If you could consider me as a KEDA maintainer, it'd be amazing

Thank you for your time!

[2021-11-10 12:02] tomkerkhove commented on #38
You've been doing a ton of contributions to not only our core, but also the documentation, testing and reviews.

I support this 💯%.

[2021-11-10 12:07] zroubalik commented on #38
Agree, you have done a lot of great contributions!

I support this as well!

[2021-11-10 12:10] tomkerkhove commented on #38
Technically we have a pass since @jeffhollan @ahmelsayed and myself share the same vote, but will allow them to reply as well :)

[2021-11-17 08:14] tomkerkhove opened #39 "Switch default branches from master to main"
Switch default branches from master to main to be more inclusive.

## Things to keep in mind 💡

- Rename the branch instead of re-creating ([docs](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch))
- Verify branch policies are aligned
- Verify workflow triggers are aligned
- Verify external s

[2021-11-18 07:07] tomkerkhove opened #40 "Request for help from CNCF for doc improvements"
We are having some growing pains & bugs for our documentation which are being tracked in this milestone:

https://github.com/kedacore/keda-docs/milestone/1

A request has been opened with CNCF to see if we can get some help on these.

[2021-11-18 07:10] tomkerkhove commented on #40
Request: https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1008

[2021-11-18 07:10] tomkerkhove commented on #40
A project documentation assessment will be done: https://github.com/cncf/techdocs/blob/main/assessments/howto.md

[2021-11-18 16:54] jeffhollan commented on #38
Absolutely support!

[2021-11-18 18:32] ahmelsayed commented on #38
I support this also!

[2021-11-19 12:55] tomkerkhove commented on #38
I think that's pretty clear -  Congrats @JorTurFer and welcome! 🎉
I will do the rest of the onboarding next week.

[2021-11-19 12:55] #38 closed

[2021-11-19 12:56] tomkerkhove opened #42 "Onboard Jorge Turrado as new maintainer 🎉"
## Tasklist

- [x] Access to 1Password (@tomkerkhove)
- [x] Access to CNCF DLs (@amye)
- [x] Access to GitHub groups (@tomkerkhove)
- [ ] Add to CODEOWNERS file in our repos

Follow-up for #38

[2021-11-19 12:56] tomkerkhove commented on #42
@amye would it be possible to add @JorTurFer to our distribution list please?

[2021-11-22 07:40] tomkerkhove commented on #42
Added to maintainer group

[2021-11-22 08:11] tomkerkhove opened #43 "Request to onboard CNCF Cloud Credits program"
Next to Azure credits (https://github.com/kedacore/governance/issues/31), it would be nice to have access to resources on other cloud providers.

Because of that, we should request to onboard to the CNCF Cloud Credits program.

https://www.cncf.io/credits/

## Status

- [x] AWS
- [x] GCP

[2021-11-22 08:11] tomkerkhove commented on #43
Request open on https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1014

[2021-11-22 19:47] amye commented on #42
Already done.

[2021-11-23 16:05] zroubalik opened #44 "Send a notifcation to `#keda` channel before the community call"
We should send a message like this, but more polished.
[code]

https://slack.com/resources/using-slack/how-to-use-reminders-in-slack

[2021-11-24 08:18] tomkerkhove commented on #44
This should be done and start on Dec 7th:
![image](https://user-images.githubusercontent.com/4345663/143200460-b372ecf4-6e5d-4055-ac80-d247355068c9.png)

[2021-11-24 08:18] #44 closed

[2021-11-24 09:37] #42 closed

[2021-11-26 07:12] tomkerkhove commented on #16
GHCR is GA, it's time to remove Docker Hub support and close this deprecation.

Agreed @kedacore/keda-maintainers? Happy to pick this up.

[2021-11-26 07:14] JorTurFer commented on #16
I agree

[2021-11-26 08:42] zroubalik commented on #16
+1

[2021-11-29 08:25] #33 closed

[2021-11-30 22:54] JorTurFer commented on #39
All the repos are updated but chart and docs. I will update them other day with more focus and care

[2021-12-01 07:06] tomkerkhove commented on #39
Thanks a ton for the monkey work @JorTurFer !

[2021-12-21 15:43] tomkerkhove commented on #39
We're done here 🏆

[2021-12-21 15:43] #39 closed

[2022-01-25 07:53] tomkerkhove opened #47 "Setup WhiteSource Bolt for security scanning"
Setup WhiteSource Bolt for security scanning in conjunction with Snyk given not all vulnerabilities were caught as per kedacore/keda#2503.

### Tasklist

- [x] Setup WhiteSource Bolt
- [x] Update Security Policy

[2022-01-28 12:47] #16 closed

[2022-01-28 12:52] tomkerkhove commented on #16
KEDA v2.6 will only be available on GitHub Container Registry.

[2022-02-16 10:49] tomkerkhove opened #48 "Provide more mature roadmap"
Provide more mature roadmap so we can better manage work and provide a better way of consuming the information for end-users to set expectations.

The new GitHub Projects will be used to bring our backlog to life.

### Tasks

- [x] Set up a new GitHub Project
- [x] Automatically add new core issues to our roadmap
- [ ] Document how work needs to be added to iterations
- [ ] Document how end-users

[2022-02-16 10:56] tomkerkhove commented on #48
GitHub Project is available on https://github.com/orgs/kedacore/projects/2/views/1

[2022-02-16 10:58] tomkerkhove commented on #48
Automatically add new core issues to our roadmap was done through  https://github.com/kedacore/keda/pull/2622

[2022-02-17 06:28] tomkerkhove opened #49 "Community improvements for CloMonitor"
CloMonitor is a new tool by the CNCF to show the health of projects and provide tips and guidance on how to improve.

There are a few things that we should improve to align with the traditional approach of OSS communities.

Current results: https://clomonitor.io/projects/keda/keda

### Task list

- [x] Add Artifact Hub badge
- [x] Add FOSSA badge
- [x] Add `Adopters` file with link to our overview

[2022-02-23 13:37] tomkerkhove opened #50 "Migrate community standups to Google Doc & CNCF-based Zoom account"
Today, we use HackMD to take notes for our standup and @jeffhollan has setup a Zoom meeting that we are joining.

However, we are facing some issues:
- HackMD is not as straightforward as other tools and does not allow to make suggestions.
- Zoom is not automatically recording so people cannot watch standups afterwards. There is also a high [bus-factor](https://en.wikipedia.org/wiki/Bus_factor) fo

[2022-03-02 08:54] tomkerkhove commented on #50
YouTube channel - https://www.youtube.com/channel/UCQzeq2gmsf5zAVY1loGb7nQ/featured

[2022-03-02 10:31] #47 closed

[2022-03-02 10:31] #52 closed

[2022-03-02 10:38] tomkerkhove commented on #49
Only need to surface Code of Conduct which depends on https://github.com/cncf/clomonitor/issues/68

[2022-03-02 10:51] tomkerkhove commented on #40
Initial meeting was done and doc assessment will happen

[2022-03-07 16:43] tomkerkhove commented on #49
![image](https://user-images.githubusercontent.com/4345663/157078514-f273ad93-7bb2-4cff-891c-ecae85d8339a.png)

[2022-03-07 16:43] #49 closed

[2022-03-10 06:45] tomkerkhove commented on #50
For auto-publishing to YouTube there are two options:
1. Livestream standup to YouTube
2. Use 3rd party (shady) tools to achieve this

If we don't want to do this, then manually uploading is an alternative.

Any suggestions?

[2022-03-11 12:14] zroubalik commented on #50
I would chose the simplest solution.

[2022-03-11 15:38] tomkerkhove commented on #50
No videos on YouTube? :D

[2022-03-28 21:38] JorTurFer commented on #32
Should we push this topic @kedacore/keda-maintainers ? The adoption is growing there are some new people contributing, maybe if we move this topic, they will be more engaged and open to continue contributing 😄

[2022-03-28 21:39] JorTurFer commented on #30
Should we push this topic @kedacore/keda-maintainers ? The adoption is growing there are some new people contributing, maybe if we move this topic, they will be more engaged and open to continue contributing 😄

[2022-04-11 07:00] Ritikaa96 commented on #30
Hi! is there any progress on this one? are we still looking for badges or memberships?

[2022-04-11 08:45] JorTurFer commented on #30
IMO, badges look really nice, and it's a thing that contributors can share with others (with proud I hope). Maybe create a team inside the org and invite them to the org, could be another good option to improve the feeling of being part of KEDA.
At the end of the day, common contributors has the engagement and the "influence" in the project without the badges or another "candy", but for new contri

[2022-04-11 08:48] tomkerkhove commented on #30
Let's ask people to share things here to keep things in one place, maybe?

[2022-04-11 08:48] zroubalik commented on #30
A t-shirt for a major contribution? 😄

[2022-04-11 08:50] zroubalik commented on #30
I would go with both badges and a group, for example to join a group you need to have at least XYZ commits, or something around this. The same for badges.

 I think that it is great to recognize contributors.

[2022-04-11 08:56] JorTurFer commented on #30
I think that using both, we have more flexibility. Maybe we can have 2-3 badges (IDK if it's possible) and also the groups.
Let me share this issue in #keda-dev slack channel (referring to this issue).
KEDA is growing and recognition and the feeling of being part of KEDA it's necessary to grow not only in users but also with contributors

[2022-04-18 09:49] Ritikaa96 commented on #30
Hi @JorTurFer @tomkerkhove @zroubalik, the badges are what am looking forward to. but with that how about a scoring system or different badges for a number of contributions to the team. It will make the contributing process fun if we allocate scores to their activity and more people would like to engage. The process can look like this:
1. Badges vary with number & quality of contribution
2. A hier

[2022-04-20 09:17] #48 closed

[2022-04-20 11:14] tomkerkhove opened #57 "Image pull metrics on GitHub Container Registry are ambiguous"
Image pull metrics on GitHub Container Registry are ambiguous because GitHub measures all the pulls for the image signatures, which is noise to our interest.

[2022-04-20 11:15] tomkerkhove commented on #57
Checking with GitHub how we can improve this.

[2022-04-28 05:27] tomkerkhove commented on #30
Just dropping a note that I haven't forgotten about this thread and will circle back.

I think introducing badges is a simple way to recognize people's contribution, but it would need clear requirements. The simplest example would be "Scaler Contributor" for everyone who contributes a scaler along with docs and has been around to maintain it for x months.

This is something simple that I can have

[2022-04-28 09:08] JorTurFer commented on #30
I agree. Maybe we can create other categories like yours, IDK, something like:
- Scaler Contributor
	- They have been increasing/improving scaler catalogue (with the proper docs) for X months
- Chart Contributor
	- They have been improving helm charts (with the proper docs) for X months
- Global Contributor
	- They have been contributing everywhere for X months
- HTTP Add-on Contributor ???
	- The

[2022-04-28 13:48] tomkerkhove opened #58 "Introduce "Scaler Contributor" Credly badge"
Introduce "Scaler Contributor" Credly badge for which scaler contributors can apply through an issue on this repo when they have met the requirements.

Relates to https://github.com/kedacore/governance/issues/30

## Tasklist
- [x] Create an issue template for people to apply for the badge
- [x] Create a Credly badge
- [x] Define the requirements
- [x] Reach out to all previous scaler contributors

[2022-04-28 13:48] tomkerkhove commented on #30
I created https://github.com/kedacore/governance/issues/58 to introduce our first badge and see how we proceed based on the learnings.

[2022-05-11 06:11] tomkerkhove commented on #30
Another aspect to clarify/doc - Who can trigger e2e tests and how/when do people get access to that.

ie. "core contributor"

[2022-05-31 07:01] tomkerkhove opened #59 "Contribute to Environmental Sustainability WG"
CNCF is launching a Environmental Sustainability WG (https://github.com/cncf/wg-env-sustainability) to which we should see if we can help given we support scale-to-zero and ARM machines.

[2022-06-09 11:26] tomkerkhove commented on #30
@Ritikaa96 Is this what you are looking for?

https://github.com/dapr/community/blob/master/community-membership.md

[2022-07-15 06:56] tomkerkhove opened #61 "Improve FOSSA project"
Improve FOSSA project setup given it was not running from the correct GitHub repo.

[2022-07-15 06:56] tomkerkhove commented on #61
New link: https://app.fossa.com/projects/custom%2B162%2Fgithub.com%2Fkedacore%2Fkeda/refs/branch/main/147dc874fe2ff0e5e4d936bb1888adf5e93ffef7

[2022-07-15 06:57] tomkerkhove commented on #61
Only open issues are missing licenses for which @JorTurFer has opened these:
- https://github.com/dysnix/predictkube-proto/issues/1
- https://github.com/dysnix/predictkube-libs/issues/2

[2022-07-21 08:43] JorTurFer commented on #61
At this moment, KEDA passes FOSSA checks https://app.fossa.com/projects/custom%2B162%2Fgithub.com%2Fkedacore%2Fkeda/refs/branch/main/70c45a4324fd279baea2584761a6fbdebb06db4a/preview

[2022-07-21 08:43] #61 closed

[2022-07-21 12:16] tomkerkhove commented on #61
Thank you!

[2022-07-22 18:05] tomkerkhove opened #62 "Security Audit"
Use a 3rd party to perform a security audit of KEDA.

CNCF provides this and can be requested.

[2022-07-22 18:05] tomkerkhove commented on #62
Audit was requested, RFP was sent out and audit will start soon.

[2022-08-02 05:37] tomkerkhove commented on #8
@JorTurFer Can you check if we can build with purely FLOSS tooling and if we block warnings?

[2022-08-02 09:34] JorTurFer commented on #8
Sure, I'll do it during this week

[2022-08-02 15:05] tomkerkhove opened #63 "Propose CNCF to graduate KEDA to CNCF Graduated project"
Write proposal for KEDA to graduate to CNCF Graduated project

[2022-08-02 15:23] tomkerkhove commented on #59
Closing as this is an ongoing effort

[2022-08-02 15:23] #59 closed

[2022-08-02 16:08] fkautz opened #64 "CNCF Calendar out of date"
The global CNCF calendar has out of date information for KEDA's community calls.

https://www.cncf.io/calendar/

It looks like the time on the calendar is an hour late, the meeting location has changed, the url still points to hackmd, and the hackmd link to find the meeting notes (via aka.ms) is broken.

Would be good to reach out and have the calendar event corrected.

Cheers!

[2022-08-05 13:45] JorTurFer commented on #8
[This is the issue](https://github.com/kedacore/keda/issues/3509) about reproducible builds. We can mark as meet those checks once it's fixed

[2022-08-08 13:19] tomkerkhove commented on #64
@amye it looks like the CNCF calendar is no longer up to date - Would it be possible to check this please?

I see that you are still part of our invite but you can find the latest info on https://keda.sh/community/

Thanks for reporting @fkautz!

[2022-08-08 15:02] amye commented on #64
Please drop a ticket into servicedesk for this, GH is not the preferred method of tracking on these!

[2022-08-08 18:22] tomkerkhove commented on #64
I will!

[2022-08-09 07:03] tomkerkhove commented on #64
Done - https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1368?created=true

[2022-08-09 13:43] tomkerkhove commented on #8
[![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/3791/badge)](https://bestpractices.coreinfrastructure.org/projects/3791)

We are now passing, @caniszczyk do we need silver/gold as well?

[2022-08-09 14:34] caniszczyk commented on #8
Awesome! Silver/Gold not required but a nice to have!

On Tue, Aug 9, 2022 at 9:43 AM Tom Kerkhove ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-08-09 14:58] tomkerkhove opened #67 "Achieve silver/gold status on Open Source Security Foundation (OpenSSF) best practices badge"
https://bestpractices.coreinfrastructure.org/en/projects/3791

[2022-08-09 14:59] tomkerkhove commented on #8
I have created https://github.com/kedacore/governance/issues/67 to follow-up on silver/gold

[2022-08-09 14:59] #8 closed

[2022-08-16 07:15] tomkerkhove commented on #64
This is now up-to-date: https://tockify.com/cncf.public.events/monthly?search=keda

[2022-08-16 07:15] #64 closed

[2022-08-24 13:27] tomkerkhove opened #68 "Provide a policy around deprecations in KEDA"
Provide a policy around deprecations in KEDA to help end-users be aware of what to do, by when, what the impact is and how to migrate.

Also, it should set expectations on when KEDA is allowed to remove things and break end-users.

## Tasklist

- [x] Define policy
- [x] Add link to keda.sh / Project
- [x] Add check in PR template for Core
- [x] Add check in PR template for Helm

[2022-08-24 13:51] tomkerkhove commented on #68
Things that will be included:
- Once things are deprecated, they should be:
  - Announced on GitHub discussions (similar to https://github.com/kedacore/keda/discussions/3552)
  - Have a warning in the KEDA logs
  - Have an entry in the deprecation section of our changelog
  - Have a callout in our GitHub release (similar to )https://github.com/kedacore/keda/releases/tag/v2.8.0
  - Have a represent

[2022-10-03 06:48] tomkerkhove commented on #30
Still working on this though, just behind the scenes.

[2022-10-03 06:49] tomkerkhove commented on #58
Still working on this though, just behind the scenes.

[2022-10-03 06:50] tomkerkhove opened #77 "Provide automated deployment of Azure resources used in end-to-end tests"
Provide automated deployment of Azure resources used in end-to-end tests with Bicep so that things are automated and I'm not the bottleneck (or at least less).

This is because our Azure subscription is not accessible to everyone and should be just a PR away.

[2022-10-03 06:51] tomkerkhove commented on #77
For Promitor I have an [azure infrastructure repo](https://github.com/promitor/azure-infrastructure) to which [contributors can PR new resources](https://github.com/promitor/azure-infrastructure/pull/17) required for automated testing and is [automatically deployed with GitHub Actions](https://github.com/promitor/azure-infrastructure/actions/runs/1570136584).

[2022-10-03 07:15] JorTurFer commented on #77
Is for all infra including AKS or only for resources like EventHub, ServiceBus, etc?

[2022-10-03 07:29] tomkerkhove commented on #77
That's up to us to decide

[2022-10-03 07:42] JorTurFer commented on #77
My only concert is the time to create/delete and AKS cluster, if we need to do it, we will make test even longer

[2022-10-03 07:43] JorTurFer commented on #77
I'd start with upstreams

[2022-10-03 07:44] JorTurFer commented on #77
and maybe we should take a look to [crossplane](https://crossplane.io/), it could give us more flexibility and we can use it for more cloud providers

[2022-10-03 08:13] JorTurFer commented on #77
sadly, they don't support queues and other resources we need for the moment 😢

[2022-10-03 08:14] tomkerkhove commented on #77
This would not run every test run; only when there are changes to the infrastructure definition

[2022-10-03 08:15] JorTurFer commented on #77
aaaah, your idea is having the infra there all the time, and update it on the fly only when needed. I thought you meant deploying/destroying it during the tests

[2022-10-03 08:20] tomkerkhove commented on #77
Yes, correct.

Doing the latter is more intensive and harder to get right. I think we can avoid that as we don't have the capacity for it.

[2022-10-03 08:49] tomkerkhove commented on #77
Bicep works fine but if you want to use this cross cloud then Terraform is OK.
If it's just Azure, just use Bicep IMO.

I'd introduce `kedacore/testing-infrastructure` for this.

[2022-10-03 08:57] JorTurFer commented on #77
I have expertise with terraform, so I can create the scaffolding and the initial infrastructure, that's not a problem.

I'm thinking in what infra we have, and IDK if we need to cover AWS now because we create the infra during the e2e test and we delete them after it, so maybe we can go with biceps, but GCP has infra I need to review to check if we should cover it.

I said terraform because it's a

[2022-10-03 09:07] tomkerkhove commented on #77
Let's use Terraform in that case, we don't want to do a migration later on

[2022-10-03 09:45] JorTurFer commented on #77
I have checked and we can update the secrets by Secrets API, so we can get the terraform outputs and update the secrets directly in the org so they can be automatically managed, on every terraform executions, secrets.
OFC this is a draft, we need to go deeper, but it's promising and could improve new infra creation

[2022-10-03 10:02] JorTurFer commented on #77
The problem here is that secrets should be taken from somewhere in order to put them as secrets. If we go to the cloud provider and take from there, we still need access to Azure Subscription, so the blocker should be there.
I won't publish secrets as output in github, so the options are, push them somewhere like a vault all of us we can access or push them directly to GH or any vault and pull the

[2022-10-03 10:22] JorTurFer commented on #77
BTW, We can name them as `TF_CURRENT_ENV_NAME` to know which of them are self generated and which manually generated. Once we have all of them working, we can just modify the secret we use in the workflows to don't touch current secrets

[2022-10-03 15:54] jeffhollan commented on #77
FYI - opened a ticket with CNCF for access (owner) to an Azure Subscription so we could run these kind of automated workloads where we want. My thinking is we could start small (just spinning up Azure Event Hubs / E2E tests) and start to move more of the workloads over time as we want https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-1422

[2022-10-03 16:55] JorTurFer commented on #77
you are right. for the moment, I'll start creating the scaffolding with a simple resource but with all the elements ready (terraform code/modules with a backend, secret management, docs, etc) and then we can move the services one by one.

To start I have my MVP subscription and once the scaffolding is ready, we can change the SP and use other account for this (MSFT or CNCF account, not to worry).

[2022-10-03 18:18] tomkerkhove commented on #77
@jeffhollan I can already tell you that they will not be able to help you :) I already looked in to this.

Please don't introduce yet-another subscription @JorTurFer and just use the existing one :)

[2022-10-03 18:25] JorTurFer commented on #77
Okey,
I said only during the scaffolding, once the things are working I wanted to swap from mine to current (because I have access to the UI to check how it's going and in case of the necessity of deleting something)

[2022-10-04 03:10] jeffhollan commented on #77
I'm naively going through the motions to see where this ends https://github.com/cncf/credits/issues/23

[2022-10-05 08:17] JorTurFer commented on #77
I have one question here, are we going to make public the infra repo or it'll be only internal?
I ask because I'm working on it and depending on this, we need to think the CI checks for PRs (terraform checks requires secrets and PRs from forks can't access to secrets directly)

[2022-10-05 08:27] tomkerkhove commented on #77
Yes, it should be public so that every contributor can open a PR imo

[2022-10-24 06:15] tomkerkhove opened #79 "Create Grafana Labs end-user study"
See https://grafana.com/blog/2022/10/20/how-to-autoscale-grafana-loki-queries-using-keda/?mdm=social
See https://github.com/kedacore/keda-docs/pull/961#issuecomment-1287115148

[2022-11-15 09:30] JorTurFer commented on #77
I think this is already done as we have moved the infrastructure management to https://github.com/kedacore/testing-infrastructure and it's already public, so any contributor can just open a PR there to create needed resources on Azure but also AWS and GCP (GCP is still in progress)

[2022-11-15 09:47] tomkerkhove commented on #77
Job well done, thanks! 🎉

Can we add this new addition to the contribution guide please?

[2022-11-15 10:07] JorTurFer commented on #77
The [e2e readme in keda](https://github.com/kedacore/keda/blob/main/tests/README.md#e2e-test-infrastructure) has a section about e2e infrastructure, and that repo has a [readme with a brief description](https://github.com/kedacore/testing-infrastructure)

[2022-11-15 10:17] JorTurFer commented on #77
I have created an [issue in test-tools repo](https://github.com/kedacore/test-tools/issues/98) to add documentation there because we don't have any guide or help

[2022-11-16 11:02] tomkerkhove commented on #77
Thanks a ton! I've noticed that contribution guide has link to test folder as well so we're good to go; thanks!

[2022-11-16 11:02] #77 closed